<!DOCTYP html>
<html>
  <head>
    <title> Polling Station Enquiry </title>
    <style>
      h1{
        font-family: Roboto;
        font-size: 40px;
        font-weight: normal;
        color: rgb(50,50, 50);
        text-align: center;
      }
      #banner{
       width: 100%;;
        height: 120px;
        object-fit: cover;
      }

      h2{
        font-family: Roboto;
        font-size: 32px;
        text-align: center;
        color: rgb(100,100,100)
      }

      #container
      {
        max-width: 1080px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <h1>Pakistan General Elections 2024</h1>
      <h2>Polling Station Enquiry</h2>
      <img id="banner" src="https://c4c6e94f-0643-4d77-8fef-eae310992511-00-11bzmizfhe5w0.picard.replit.dev/static/banner.jpg">
    </div>
    
  </body>
</html>